

python-dotenv
aiohttp
livekit-agents[openai,silero,deepgram,cartesia,turn-detector]~=1.0

livekit
livekit-agents
openai
deepgram-sdk
cartesia
python-dotenv
livekit-agents[openai,cartesia,deepgram,silero]~=1.0




cartesia==2.0.3
deepgram-sdk==4.1.0
dotenv==0.9.9
livekit==1.0.8
livekit-agents==1.0.22
livekit-api==1.0.2
livekit-plugins-cartesia==1.0.22
livekit-plugins-deepgram==1.0.22
livekit-plugins-openai==1.0.22
livekit-plugins-silero==1.0.22
livekit-protocol==1.0.3

